<%- include('./partials/header'); -%>
    <h1><%= title %></h1>    
    <form method='POST' action=''>
        <div class="form-group">
            <label for="name">Genre: </label>
            <input type="text" id="name" class="form-control" placeholder='Fantasy, Poetry etc.' name='name' value="<%= (undefined===genre ? '' : genre.name) %>" >
        </div>
        <button class="btn btn-primary" type='submit'>Submit</button>        
    </form>
    <% if (errors) { %>
        <ul>
            <% for (const error of errors) { %>
                <li>
                    <%= error.msg %>
                </li>
            <% } %>
        </ul>
    <% }; %>
<%- include('./partials/footer'); -%>